body {
	background-color: #fff;
}

.btn,
.btn:hover {
	color: white;
}

input {
	width: 40px;
	height: 40px;
}

/* Background Images Vars Default Styling */
.bg-primary,
.bg-secondary {
	width: 100%;
	max-width: 100%;
	background-repeat: none;
	background-size: cover;
}
