body {
	background-color: #fff;
}

.btn, .btn:hover {
	color:white;
}

/* Background Images Vars Default Styling */
.bg-primary, .bg-secondary{
	width: 100%;
	max-width:100%;
	background-repeat: none;
	background-size: cover;
}
