:root {
	/* Text Colors */
	--text-white: #fff;
	--text-event-primary: purple;
	--text-event-secondary: orange;
	--text-event-tertiary: red;

	/* Border Variables */
	--border-primary: 5px solid red;
	--border-secondary: 5px solid orange;
	--border-tertiary: 5px solid green;

	/* background-images */
	--bg-img-1: url('https://picsum.photos/id/100/200/300/?blur=10');
	--bg-img-2: url('https://picsum.photos/id/110/200/300/?blur=10');
	--bg-img-3: url('https://picsum.photos/id/130/200/300/?blur=10');

	/* CTA button colors */
	--btn-event: purple;
	--btn-event-hover: pink;

	--btn-event-alt: pink;
	--btn-event-alt-hover: purple;
}

/* Changing BG Using Variables */
.bg-vars .bg-1 {
	background-image: var(--bg-img-1);
	border: var(--border-primary);
}

.bg-vars .bg-2 {
	background-image: var(--bg-img-2);
	border: var(--border-secondary);
}

.bg-vars .bg-3 {
	background-image: var(--bg-img-3);
	border: var(--border-tertiary);
}

/* Using Vars to Change Font Text */
.typography-vars .text-event-primary {
	color: var(--text-event-primary);
}
.typography-vars .text-event-secondary {
	color: var(--text-event-secondary);
}
.typography-vars .text-event-tertiary {
	color: var(--text-event-tertiary);
}

/* Using Vars to change CTA colors */
.cta-vars .btn-event {
	background-color: var(--btn-event);
	color: var(--text-white);
}
.cta-vars .btn-event:hover {
	background-color: var(--btn-event-hover);
}

.cta-vars .btn-event-alt {
	background-color: var(--btn-event-alt);
	color: var(--text-white);
}
.cta-vars .btn-event-alt:hover {
	background-color: var(--btn-event-alt-hover);
}
