:root {
	/* Text Colors */
	--text-event-primary: #ff495a;
	--text-event-secondary: #618b4a;

	/* Border Variables */
	--border-event-primary: 3px solid #ff495a;
	--border-event-secondary: 3px solid #618b4a;

	/* background-images */
	--bg-primary: url('https://picsum.photos/id/100/200/300/?blur=10');
	--bg-secondary: url('https://picsum.photos/id/110/200/300/?blur=10');

	/* CTA button colors */
	--btn-event-primary: #ff495a;
	--btn-event-primary-hover: #4597db;

	--btn-event-secondary: #618b4a;
	--btn-event-secondary-hover: #451f55;
}

/* Updating Backgroung Images */
.bg-primary {
	background-image: var(--bg-primary);
}

.bg-secondary {
	background-image: var(--bg-secondary);
}

/* Styling Border Classes */
.border-event-primary {
	border: var(--border-event-primary);
}
.border-event-secondary {
	border: var(--border-event-secondary);
}

/* Styling Text Event Colors */
.text-event-primary {
	color: var(--text-event-primary);
}
.text-event-secondary {
	color: var(--text-event-secondary);
}

/* Style Primary Event CTAs */
.btn-event-primary {
	background-color: var(--btn-event-primary);
}
.btn-event-primary:hover {
	background-color: var(--btn-event-primary-hover);
}

/* Style Secondary Event CTAs */
.btn-event-secondary {
	background-color: var(--btn-event-secondary);
}
.btn-event-secondary:hover {
	background-color: var(--btn-event-secondary-hover);
}
